@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

/* - Mobile: 375px
- Desktop: 1440px */

:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--Light-gray);
}

.card {
    height: 450px;
    width: 300px;
    border-radius: 10px;
    padding: 20px;
    background: var(--White);
    text-align: center;
}

.card img {
    height: 250px;
    width: calc(300 - 10);
    border-radius: 10px;
    margin-bottom: 20px;
}

.card > h3 {
    font-size: 1.3rem;
    margin-bottom: 20px;
    font-weight: 700;
}

.card > p {
    font-size: 15px;
    color: var(--Dark-blue);
    font-weight: 400;
}
